include LICENSE
include README
include *txt
include *.ipynb
recursive-include skreducedmodel *
include *.png
include *.pdf

recursive-include dist *.gz
recursive-include dist *.whl

global-exclude *~
global-exclude *.rst~

exclude tox.ini
exclude .flake8
exclude .travis.ylm
exclude .gitignore
exclude *.yaml
exclude .coverage
exclude *.ipynb
exclude MANIFEST.in
exclude index.html

recursive-exclude skreducedmodel/__pycache__ *
recursive-exclude old_code *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude dist *
recursive-exclude examples/waveforms *.npy
recursive-exclude examples *.ipynb
recursive-exclude Scikit_ReducedModel.egg-info *

exclude Pendulo-AGUS.ipynb
exclude Pendulo-Copy1.ipynb
exclude Untitled.ipynb
exclude runs-Copy1.ipynb
exclude runs.ipynb
exclude test_partition_choose_child.ipynb